# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Local Netlify folder
.netlify
app/fonts/Executive-Bold.otf
app/fonts/Executive-BoldIta.otf
app/fonts/Executive-Light.otf
app/fonts/Executive-LightIta.otf
app/fonts/Executive-Medium.otf
app/fonts/Executive-MediumIta.otf
app/fonts/Executive-Regular.otf
app/fonts/Executive-RegularIta.otf
app/fonts/Executive-Thin.otf
app/fonts/Executive-ThinIta.otf
