@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer base {

  h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply leading-tight;
    @apply tracking-tight;
    @apply mt-16;
    @apply mb-4;
    @apply text-stone-700
  }
  
  h2 {
    @apply text-2xl;
    @apply leading-tight;
    @apply tracking-tight;
    @apply font-semibold;
    @apply mt-2;
    @apply mb-0;
  }
  
  h3 {
    @apply text-xl;
    @apply mt-1;
    @apply mb-1;
    @apply font-semibold;
  }
  
  h4 {
    @apply text-lg;
    @apply mt-2;
    @apply mb-0;
    @apply font-medium;
  }
  
  ul { 
    list-style-type: '- '; 
  }


}

body {
  
}